In [22]:
import pandas as pd
df = pd.read_csv('sets.csv')

In [4]:
missing_count = df.isnull().sum()

In [5]:
missing_count

set_num      0
name         0
year         0
theme_id     0
num_parts    0
dtype: int64

In [7]:
df = df.dropna()

In [ ]:
df[(df['num_parts'] > 400) & (df['year'] == 1970)]

,set_num,name,year,theme_id,num_parts
0,00-1,Weetabix Castle,1970,414,471
22,066-1,Basic Building Set,1968,366,407
23,080-1,Basic Building Set with Train,1967,366,710
24,088-1,Super Set,1969,469,615
26,10001-1,Metroliner,2001,233,785
...,...,...,...,...,...
11230,k34432-1,Lego Mosaic Dino,2003,277,2846
11231,k34433-1,Lego Mosaic Johnny Thunder,2003,277,2126
11232,k34434-1,Lego Mosaic Tiger,2003,277,2216
11422,LIT2009-1,LEGO Inside Tour (LIT) Exclusive 2009 Edition ...,2009,301,909
11614,SWMP-1,Star Wars / M&M Mosaic - Promo Set,2005,169,5461

In [28]:
sum(df.duplicated())

0

In [17]:
df.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
dtype: object